body {
    font-family: arial,sans-serif;
}
.navBar {
    float: right;
    margin: 0 1rem;
    padding: 0;
}
.navBar ul {
    display: inline-flex;
    margin-block-start: 0.5rem
}
.navBar ul li {
    list-style: none;
    padding: 0 0.4rem;
    font-size: 12px;
}
.navBar ul li:nth-child(-n+2) {
    padding-top: 5px;
    color: rgb(30, 29, 29);
}
.navBar ul li a {
    text-decoration: none;
}
.navBar ul li a:active, .navBar ul li a:hover {
    text-decoration: underline;
}
.button {
    color: white;
    padding: 5px 10px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: #4285f4;
    border-radius: 2px;
    line-height: 24px;
    font-size: 12px;
}

/* body */
.bodyContents {
    padding-top: 13%;
}
.input-container {
    position:relative;
}
#searchICon {
    position: absolute;
    margin-left: 16px;
    margin-top: 13px;
}
#micIcon {
    position: absolute;
    margin-left: -40px;
    margin-top: 9px;
    cursor: pointer;
}
.formInput {
    padding-top: 14px;
}
.input-field {
    padding: 12px 40px;
    border-radius: 50px;
    border: 1px solid rgb(228, 226, 226);
    width: 32%;
    overflow-y: visible;
    font-size: 14px;
}
.input-field:focus {
    -webkit-box-shadow: 3px 3px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    outline: none
}
.buttons {
    padding-top: 30px;
}
.buttons input {
    /* padding: 8px 11px;
    border: 0;
    border-radius: 3px;
    color: #5d5d5d;
    background-color: #f3f3f3;
    margin-right: 8px; */
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.language {
    line-height: 28px;
    font-size: small;
    color: #464647;
}
